{% extends "base.jinja2" %}

{% block content %}

<div>
    <aside>
      <h1>My Challenge List</h1>
    </aside>

    <ul id="navigation">
      {% for list in challenge_lists -%}
      <li class="">
        <a href="/challenges/{{list.pk}}">
          <h1> List Name {{ list.name }}</h1>
        </a>
      </li>
      {%- endfor %}
    </ul>
</div>

{% endblock %}

